In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({'Date':['2020-10-11','2020-10-12','2020-10-13'], 'Close':['12','13','14']})

In [7]:
df

         Date Close
0  2020-10-11    12
1  2020-10-12    13
2  2020-10-13    14

In [18]:
df.append({'Date': '2020-10-14', 'Close':'NaN'}, ignore_index=True)

         Date Close
0  2020-10-11    12
1  2020-10-12    13
2  2020-10-13    14
3  2020-10-14   NaN

In [19]:
df.set_index('Date')

           Close
Date
2020-10-11    12
2020-10-12    13
2020-10-13    14

In [20]:
df

         Date Close
0  2020-10-11    12
1  2020-10-12    13
2  2020-10-13    14